{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-syntax-dynamic-import",
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ],
        [
          "module-resolver",
          {
            "root": [
              "./app"
            ],
            "alias": {
              "Containers": "./app/src/containers",
              "Components": "./app/src/components",
              "Store": "./app/src/store",
              "Assets": "./app/src/assets"
            }
          }
        ],
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}